  <h4><em>Yesterday's Chorus</em></h4>
  <table class="today_list">
    <tr>
      <th>Time</th>
      <th>Chorus List</th>
    </tr>
    <tr>
      <td>6:00 A.M.</td>
      <td>{{chorus1()}}</td>
    </tr>
    <tr>
        <td>9:00 A.M.</td>
        <td>{{chorus2()}}</td>
    </tr>
    <tr>
        <td>12:00 P.M.</td>
        <td>{{chorus3()}}</td>
    </tr>
    <tr>
        <td>3:00 P.M.</td>
        <td>{{chorus4()}}</td>
    </tr>
    <tr>
        <td>6:00 P.M.</td>
        <td>{{chorus5()}}</td>
    </tr>
  </table>

  <hr/>

  <h4>
    
  <em>Today's Chorus</em></h4>
  <table class="today_list">
    <tr>
      <th>Time</th>
      <th>Chorus List</th>
    </tr>
    <tr>
      <td>6:00 A.M.</td>
      <td>{{chorus1()}}</td>
    </tr>
    <tr>
        <td>9:00 A.M.</td>
        <td>{{chorus2()}}</td>
    </tr>
    <tr>
        <td>12:00 P.M.</td>
        <td>{{chorus3()}}</td>
    </tr>
    <tr>
        <td>3:00 P.M.</td>
        <td>{{chorus4()}}</td>
    </tr>
    <tr>
        <td>6:00 P.M.</td>
        <td>{{chorus5()}}</td>
    </tr>
  </table>

<hr/>

<h4><em>Tomorrow's Chorus</em></h4>
  <table class="today_list">
    <tr>
      <th>Time</th>
      <th>Chorus List</th>
    </tr>
    <tr>
      <td>6:00 A.M.</td>
      <td>{{chorus1()}}</td>
    </tr>
    <tr>
        <td>9:00 A.M.</td>
        <td>{{chorus2()}}</td>
    </tr>
    <tr>
        <td>12:00 P.M.</td>
        <td>{{chorus3()}}</td>
    </tr>
    <tr>
        <td>3:00 P.M.</td>
        <td>{{chorus4()}}</td>
    </tr>
    <tr>
        <td>6:00 P.M.</td>
        <td>{{chorus5()}}</td>
    </tr>
  </table><br/>

