tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  table{
    border: 2px solid black;
    width: 20%;
  }
  th, td{
    padding: 1%;
  }
  h4{
    text-decoration:underline;
    font-weight: 250;
  }
  #chorus_p{
    color: red;
  }